body {
  font-family: "Raleway", sans-serif;
  color: #1b161d;
  background-color: #222 !important;
}

.layout_padding {
  padding: 75px 0;
}

.layout_padding2 {
  padding: 45px 0;
}

.layout_padding2-top {
  padding-top: 45px;
}

.layout_padding2-bottom {
  padding-bottom: 45px;
}

.layout_padding-top {
  padding-top: 75px;
}

.layout_padding-bottom {
  padding-bottom: 75px;
}

/*header section*/

.hero_area {
  background-color: #222;
  background-image: url(../Img/fondo4.jpg);
  background-attachment: fixed;

  background-repeat: no-repeat;
  background-size: cover;
}

.custom_menu-btn {
  z-index: 9;
  position: absolute;
  right: 0;
  top: 14px;
}

.custom_menu-btn button {
  margin-top: 12px;
  outline: none;
  border: none;
  background-color: transparent;
}

.custom_menu-btn button span {
  display: block;
  width: 40px;
  height: 4px;
  background-color: #fff;
  margin: 7px 0;
  transition: all 0.3s;
  border-radius: 5px;
}

.menu_btn-style button .s-1 {
  transform: rotate(45deg) translateY(17px);
}

.menu_btn-style button .s-2 {
  transform: translateX(100px);
}

.menu_btn-style button .s-3 {
  transform: rotate(-45deg) translateY(-17px);
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(185, 1, 1, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}
.overlay a {
  padding: 0px;
  text-decoration: none;
  font-size: 22px;
  color: #f1f1f1;
  display: block;
  transition: 0.3s;
  text-transform: uppercase;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.menu_width {
  width: 100%;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

.btn,
.btn:focus {
  outline: none !important;
  box-shadow: none;
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.navbar-brand span {
  font-family: "Righteous", cursive;
  font-size: 24px;
  font-weight: 500;
  color: #fefeff;
  margin-top: 5px;
}

.custom_nav-container {
  z-index: 99999;
  padding: 15px 0;
  background-color: #000;
}

/*end header section*/

/* slider section */

.slider_section {
  padding-top: 75px;
}

.slider_item-container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contenedor-cv {
  justify-content: center;
  align-items: center;
  display: flex;
  height: 85px;
  width: 675px;
  transition: all 1s;
}
.boton-cv {
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: transparent;

  border-radius: 15px;
  border-style: groove;
  border-color: #2e3131;

  font-size: 50px;
  color: #fff;
  height: 75px;
  width: 650px;
  transition: all 1s;
}
.boton-cv:hover {
  box-shadow: 0px 0px 25px #ff0400;
  border-color: #ff3936;
  height: 85px;
  width: 675px;
}

.slider_item-imgbox {
  margin-top: 45px;
  width: 75%;
  border-radius: 15px;
  margin-bottom: 50px;
}

.slider_item-imgbox img {
  width: 100%;
  height: 100%;
  transition: all 1s;
  border-radius: 15px;
  animation-name: inicio-logo;
  animation-duration: 1s;
}
@keyframes inicio-logo {
  0% {
    padding: 50%;
  }
  100% {
    padding: 0%;
  }
}

/* end slider section */

/* about section */
.about_section {
  margin-top: 45px;
  text-align: center;
  background-color: #191919;
}

.about_section h2 {
  text-transform: uppercase;
  color: #fff;
}

.about_section h4 {
  font-size: 22px;
  font-weight: 600;
}

.about_card-container {
  display: flex;
  justify-content: center;
}

.about_card .about-detail {
  width: 400px;
  height: 425px;
  transition: all 1s;
  margin-bottom: 50px;
}
.items-text {
  color: #fff;
  margin: 4px 4px 4px 4px;
}

.about_img-container {
  width: 225px;
  background-color: #07070a;
  height: 225px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 10px solid #d7daf4;
  margin: 0 auto 45px auto;
  transition: all 1s;
}

.about-detail:hover {
  height: 550px;
  width: 550px;
  background-color: #222;
  box-shadow: 0px 0px 25px #ff0400;
  border-radius: 15px;

  border: 1px solid #000;
}
.about_card .about_img-box {
  width: 75px;
}

.about_card .about-detail p {
  margin-top: 15px;
}

.about_card img {
  width: 100%;
}

/* end about section */

/* Habiliti */
.text {
  display: flex;
  justify-content: center;
  background-color: #191919;
}
.text h2 {
  color: #fff;
  font-size: 50px;
}
.text h3 {
  color: #fff;
  font-size: 30px;
}
.contenedor-habi {
  background-color: #191919;
}

.container .col {
  display: flex;
  justify-content: center;
}
.col {
  display: block !important;
}
.cont-img {
  display: flex;
  justify-content: center;
}
.col img {
  display: flex;
  height: 250px;
  width: 250px;
}
.text-habi {
  display: flex;
  justify-content: center;
}
.text-habi h4 {
  color: #fff;
  margin-left: 5px;
  padding: 14px;
  background-color: #222;
  box-shadow: 0px 0px 4px #ff0400;
}

/* end Habilitizacion */

/* Proyeccion */
.cont-proyec {
  background-image: url(../Img/Fondopro.png);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #191919;
  display: block;
  justify-content: center;
}

.contenedor-proyectos {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.cont-pro1 {
  display: block;
}
.proyecto1 {
  background-color: #191919;
  justify-content: center;
  display: flex;
  height: 950px;
  width: 1000px;
  margin-top: 300px;
  border-radius: 15%;
  border-style: solid;
  border-color: #000;
  box-shadow: 0px 0px 25px #000;
}
.img-cont {
  display: block;
  justify-content: center;
}
.img-pro1 {
  margin-left: 25%;
  height: 500px;
  margin-top: 50px;
  border-radius: 15%;
}
.iconos-pro {
  margin-left: 15%;
}
.iconos-pro h4 {
  color: #fff;
  padding: 14px;
  background-color: #222;
  box-shadow: 0px 0px 4px #ff0400;
}
.text-pro {
  display: flex;
}
.txt-pro1 h3 {
  display: flex;
  color: #fff;
  justify-content: center;
}
.txt-pro1 p {
  display: flex;
  margin-left: 15px;
  margin-right: 15px;
  justify-content: center;
  text-align: center;
  color: #fff;
}
.conection {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

/* Fin de proyecccion */

/* contact section */

.fondo-contact {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-cont {
  background-image: url(../Img/cont2.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.inputs-cont {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contacto {
  display: flex;
}

.flex-conteiner {
  display: flex;
  margin-top: 25%;
}

.form {
  min-width: 700px;
  flex: 1;
  text-align: center;
  padding: 30px;
  order: 5;
}

.form__input {
  margin: 15px;
  width: 100%;
  padding: 6px 0;
  border: none;
  border-bottom: 3px solid #ff0400;
  background: transparent;
  color: #000;
  transition: 1s;
}
.form__input:focus {
  background: #191919;
  box-shadow: 0px 0px 15px #000;

  outline: none;
  color: #fff;
}

.form textarea {
  min-height: 140px;
  resize: none;
}

.form input[type="submit"] {
  background-color: #000;
  color: #fff;
  border: none;
  padding: 20px;
}

/* end contact section */

/* footer section*/

.cont-a {
  background-color: #222;
  margin-top: 15px;
  display: flex;
  justify-content: center;
}
.cont-a a {
  background-color: #191919;
  color: #fff;
  display: block;
  text-decoration: none;
  font-family: "Karla", sans-serif;
  font-size: 50px;
  transition: all 0.7s;
}
.a :hover {
  box-shadow: 0px 0px 15px #ff0400;
}

.conection img {
  height: 75px;
  width: 75px;
}

.txt-fot {
  margin-top: 15px;
  color: #fff;
}
/* end footer section*/
